/*
    .exploreEventsSectionFilterAndCards
      .filterAndCards
      .cardsSection
      .MuiGrid2-root {
      max-width: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    
    .exploreEventsSectionFilterAndCards .filterAndCards .cardsSection .ant-card {
      width: 100%;
      max-width: 290px;
    } */
.cardSection {
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  background-color: #f5f7f9;
  
}

.cardImg {
  transition: 1s ease;
}
.cardImg:hover {
  transform: scale(1.05);
}

.markBtn {
  position: absolute;
  top: 5%;
  right: 5%;
  border: none;
  background-color: #6ac045;
  padding: 18px;
  border-radius: 50%;
  /* width: 25px;
      height: 25px; */
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.cardSectionAllBtn button {
  padding: 15px 20px;
  border: none;
  background-color: #6ac045;
  color: white;
}
.exploreEventsSectionFilterAndCards {
  width: 100%;

  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exploreEventsSectionFilterAndCards .filterAndCards {
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
}
.exploreEventsSectionFilterAndCards .filterAndCards .title h1 {
  font-size: 32px;
  font-weight: 600;
  text-decoration: none solid rgb(0, 0, 0);
  margin-bottom: 20px;
}
.exploreEventsSectionFilterAndCards .filterAndCards .timesBtn,
.exploreEventsSectionFilterAndCards .filterAndCards .categoriyaBtns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 10px;
}
.exploreEventsSectionFilterAndCards .filterAndCards .timesBtn button {
  background-color: white;
  padding: 8px 10px;
  border: 1px solid #cbced1;
  border-radius: 15px;
  flex: 1;
}
.exploreEventsSectionFilterAndCards .filterAndCards .categoriyaBtns button {
  background-color: white;
  padding: 8px 13px;
  border: 1px solid #cbced1;
  flex: 1;
}
.exploreEventsSectionFilterAndCards .cardsSection {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f7f9;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.exploreEventsSectionFilterAndCards .cardsSection .cardFooter {
  background-color: #fafdf9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  color: #717171;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none solid rgb(113, 113, 113);
}
