.registerPages {
  display: flex;
  /* height: 100vh; */
  overflow: auto;
}
/* .left,
    .right {
      flex: 1;
      padding: 20px;
      box-sizing: border-box;
    } */

.registerPages .left {
  width: 500px;
  background-image: url("https://www.gambolthemes.net/html-items/barren-html/disable-demo-link/images/sign_bg.jpg");
  padding: 50px;
  /* flex: 1; */
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.registerPages .left .logo {
  width: 150px;
  height: 150px;
}
.registerPages .left .logo img {
  width: 100%;
  height: 100%;
}
.registerPages .left .title h1 {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none solid rgb(255, 255, 255);
  color: white;
}
.registerPages .right {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.registerPages .right .signIn {
  position: absolute;
  top: 5%;
  right: 5%;
}
.registerPages .right .signIn p {
  color: #231f20;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none solid rgb(35, 31, 32);
}
.registerPages .right .signIn p .link {
  color: #7ad254;
  font-weight: 500;
  text-decoration: none solid rgb(122, 210, 84);
}
.registerPages .right .forms {
  width: 35%;
  margin: 0 auto;
}
.registerPages .right .forms h1 {
  color: #212529;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none solid rgb(33, 37, 41);
  font-stretch: 100%;
  margin-bottom: 45px;
}
.registerPages .right .forms .form {
  width: 100%;
}
.registerPages .right .forms .form .label {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none solid rgb(0, 0, 0);
  margin-bottom: 10px;
  display: inline-block;
}
.registerPages .right .forms .form .inp {
  width: 100%;
  padding: 15px;
  border: 1px solid #bfbdbd;
  background-color: #f9f9f9;
  font-weight: 400;
  text-decoration: none solid rgb(113, 113, 113);
  margin-bottom: 2px;
}
.registerPages .right .forms .form button {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #7ad254;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 20px 0;
}
.registerPages .right .forms .form p {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none solid rgb(0, 0, 0);
  word-spacing: 5px;
}
.registerPages .right .forms .form p .link {
  color: #7ad254;
  text-decoration: underline solid rgb(122, 210, 84);
  padding: 2px;
}
